*{
	padding: 0;
	margin: 0;
	font-size: 30px;
}
.button{
	height:60px;
	width:70px;
	margin: 2px;
	padding: 0.1rem;
	background:#1f1f1f;
	color:mintcream;
	border: none;
	border-radius: 40px;
    cursor: pointer;
}
.textview{
	width:200px;
	margin: 2px;
	margin-bottom: 10px;
    margin-right: 0;
	background: #080808;
	color: mintcream;
	font-size: 30px;
	padding: 10px;
	border: none;
	border-bottom: 1px solid white;
    text-align: right;
}
body{
	 background: #080808;
	 position:absolute;
     top:50%;
     left:50%;       transform:translateX(-50%)translateY(-30%);
}
#gr,#hidden{
	color: #54881d;
	font-weight: 500;
}
#C{
	color: orangered;
}
#equal{
	background:#487417;
}
form{
    color:white;
}
.cross{
    background: #1f1f1d;
    border: none;
    color:#54881d;
    height:60px;
    width:70px;
    font-size: 30px;
    border-radius: 40PX;
    margin: 0;
}