*{
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 20px;
}
body{
    background: url("https://images.pexels.com/photos/210766/pexels-photo-210766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    color:white;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.intro{
    display: block;
    text-align: center;
    margin:50px 30px;
    font-size:80px;
    font-family: "Bradley Hand ITC",serif;
    font-weight: 800;
}
.timer{
    display: flex;
    position: relative;
    top:20px;
    font-size:30px;
    text-align: center;
    justify-content: center;
    margin:10% 30%;
    
}
span{
    display: block;
    padding:10px;
    font-family: "Tempus Sans ITC";
    font-size: 30px;
}
#days,#minutes,#hours,#seconds{
    font-size: 60px;
    padding: 30px;
    padding-bottom: 10px;
    font-family: "Tempus Sans ITC";
}
/*Border-section*/
.days,.hours,.minutes,.seconds{
    border-top: 2.5px solid white;
    border-bottom: 2.5px solid white;
}
.days{
    border-left: 2.5px solid white;
}
.seconds{
    border-right: 2.5px solid white;
}
#input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe Print";
}
input{
    font-family:"Ink Free";
    font-weight: 1000;
    margin: 10px;
    padding:0.2rem;
    border: 1px solid white;
    border-radius: 30px;
    width:350px;
    background: inherit;
    color:white;
}
#alert{
    color:white;
    font-family: "Segoe Print";
    text-align: center;
    margin: 20px;
}
::placeholder{
    color:white;
}
input[type=email]{
    padding-left:20px;
}
input[type=button]{
    width:120px;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}
input[type=button]:hover {
  background-color: antiquewhite;
  color: black;
}
.foot{
    font-family: "Segoe Print";
    position: absolute;
    bottom: 0px;
    right: 0;
}
